pytest==6.0.1
pytest-cov==2.6.0
pytest-httpserver>=0.3.0
keras>=2.3.0
pydot>=1.4.1
sklearn
libhxl
Pygments
cryptography
pyarrow
fs
h5py
plotly
tornado
mkdocs
mkdocstrings
pytkdocs
python-pptx
Pillow
-r requirements.txt
