pytest
pytest-cov
pytest-httpserver
keras>=2.3.0
pydot>=1.4.1
scikit-learn
libhxl
Pygments
cryptography
pyarrow
fs
h5py
plotly
tornado
mkdocs
mkdocstrings
pytkdocs
python-pptx
Pillow
datafusion
polars
boto3
tensorflow
fsspec
-r requirements.txt
