<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="white--text">LiQuer</v-toolbar-title>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn flat @click="view='commands'">
            Commands
          </v-btn>
          <v-btn flat @click="view='build_query'">
            Build
          </v-btn>
          <v-btn flat @click="view='test_query'">
              Test query
            </v-btn>
          </v-toolbar-items>

        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-chip :color="status_color" v-on="  on">{{status}}</v-chip>
          </template>
          <span>{{message}}</span>
        </v-tooltip>

      </v-toolbar>

      <v-content>
        <v-container v-if="view=='hello'">Hello world</v-container>
        <v-container v-if="view=='home'">
          <h1>LiQuer server</h1>
          For more info, see the <a href="https://github.com/orest-d/liquer">repository</a>.
        </v-container>
        <v-container v-if="view=='commands'">
          <h1>Commands</h1>
          <ul>
            <li v-for="item in commands">
                <b>{{item.name}}</b>
                <p>
                  Arguments:<br/>
                  <ul>
                      <li v-for="arg in item.arguments">{{arg.name}}:{{arg.type}}</li>
                  </ul>
                </p>
                <p>
                    {{item.doc}}
                </p>
            </li>
          </ul>
        </v-container>
        <v-container v-if="view=='test_query'">
          <v-card>
            <v-toolbar color="cyan" dark>
              <v-toolbar-title>Test Query</v-toolbar-title>
            </v-toolbar>
            <v-container>
              <v-text-field v-model="query" label="Query" outline></v-text-field>
              <v-btn @click="execute_query()">Execute</v-btn>
              <v-textarea v-model="query_response"></v-textarea>
              <v-card>
                <v-toolbar color="primary" dark>
                  <v-toolbar-title>Debug</v-toolbar-title>
                </v-toolbar>
                <table style="padding: 10px;">
                  <tr>
                    <th style="padding: 10px;">Query</th>
                    <td style="padding: 10px;">{{query_debug.query}}</td>
                  </tr>
                  <tr>
                    <th style="padding: 10px;" v-if="query_debug.is_error">
                      <v-chip color="red">Error</v-chip>
                    </th>
                    <th style="padding: 10px;" v-else>
                      <v-chip color="green">Ok</v-chip>
                    </th>
                    <td style="padding: 10px;">{{query_debug.message}}</td>
                  </tr>
                  <tr>
                    <th style="padding: 10px;">Filename</th>
                    <td style="padding: 10px;">{{query_debug.filename}} <a :href="query_debug.url">(open)</a><v-chip>{{query_debug.extension}}</v-chip>
                      <v-chip>{{query_debug.mime}}</v-chip>
                    </td>
                  </tr>
                  <tr>
                    <th style="padding: 10px;">Sources</th>
                    <td style="padding: 10px;">
                      <ul>
                        <li v-for="url in query_debug.sources"><a :href="url">{{url}}</a></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th style="padding: 10px;">Log</th>
                    <td style="padding: 10px;">
                      <ul>
                        <li v-for="item in query_debug.log">
                          <div v-if="item.kind=='error'">
                            <v-icon color="red">error</v-icon>
                            {{item.message}}
                            <pre>{{item.traceback}}</pre>
                          </div>
                          <div v-if="item.kind=='warning'">
                            <v-icon color="yellow">warning</v-icon>{{item.message}}
                          </div>
                          <div v-if="item.kind=='info'">
                            <v-icon color="green">info</v-icon>{{item.message}}
                          </div>
                          <div v-if="item.kind=='command'">
                            </template>
                            <v-icon color="primary">label</v-icon>
                            <span>{{item.command_number}}</span>
                            <v-chip label outline v-for="cmd in item.qv">{{cmd}}</v-chip>
                          </div>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </v-card>
            </v-container>
          </v-card>
        </v-container>
        <v-container v-if="view=='test_query'">
          <v-card>
            <v-toolbar color="cyan" dark>
              <v-toolbar-title>Edit Query</v-toolbar-title>
            </v-toolbar>
            <v-container>
            </v-container>
          </v-card>
        </v-container>
        <v-container v-if="view=='build_query'">
          <v-card>
            <v-toolbar color="cyan" dark>
              <v-toolbar-title>Build Query</v-toolbar-title>
              <v-btn @click="build_query()">Execute</v-btn>
            </v-toolbar>
            <v-container>
              {{ql}}
              <hr/>
              {{query}}
            </v-container>
          </v-card>
        </v-container>

      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="liquer.js"></script>
</body>

</html>